@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* DESIGN COLORS USED */
:root
{
  --white: #fff;
  --bright:  rgb(44, 116, 179);
  --dark: rgb(20, 66, 114);
  --gb: #ccc;
}
/************************************************************************************************************/


/* SCROLL BAR STYLING */
::-webkit-scrollbar 
{
  width: 5px;
}
::-webkit-scrollbar-track /* the track which hold the draggable part of the scrollbar */
{
  background: var(--white);
}
::-webkit-scrollbar-thumb  /* the thumb is the draggable part of the scroll bar */
{
  background-color: var(--bright);
  border-radius: 10px;
}
/************************************************************************************************************/


/* GENERAL STYLING OF THE BODY */
body
{
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
* /* targetting all the elements */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* width including the padding of elements */
  text-decoration: none;
    list-style-type: none;
}
/************************************************************************************************************/


/* HEADER SECTION STYLING */
header a {
  color: var(--bright);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
header a:hover {
  opacity: 0.8;
  color: var(--dark);
}

/* Header styles */
.header {
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}
.logo {
  flex: 0 0 auto;
  margin-right: 20px;
  order: 1;
  text-align: center;
  width: 100%;
  max-width: 200px;
}
.logo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 5px;
  
}
.contact-info {
  flex: 1 1 auto;
  order: 2;
  text-align: center;
  padding: 5px;
}
.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-info li {
  display: inline-block;
  margin-right: 10px;
}
.cta {
  
  order: 3;
  text-align: right;
  margin-left: 20px;
  padding: 10px;
}
.cta a {
  background-color: var(--bright);
  color: var(--white);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
}
i
{
  color: var(--bright);
}
/* Responsive styles */
@media screen and (max-width: 1024px) 
{
  .header {
    height: auto;
    padding: 5px;
  }
  .logo {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }
  .contact-info {
    order: 1;
  }
  .cta {
    
    margin: 0px auto;
   
  }
}
/************************************************************************************************************/


/* NAVIGATION SECTION STYLING */

.container {
  max-width:  100%;
  margin: 0;
  padding: 0;
}

.navigation {

 display: flex;
 
  height: 60px;
  position: relative;
  background: var(--bright);
}

.nav_list {
  display: inline-flex;
  justify-content: space-between;
  
}

.nav_list:hover
{
  background-color: var(--dark);
}

.nav_link
{
  display: flex;
  justify-content: space-between;
  padding: 21px 21px;
  margin-right: 1.5px;
  gap: 3px   ;
  color: var(--white);
  font-weight: bold;
}

.nav_toggle 
{
  cursor: pointer;
  display: none;
}

.nav_toggle ion-icon 
{
  padding: 5px;
  font-size: 3.5rem;
  color: var(--white);
}

.dropdown 
{
  position: absolute;
  top: 55px;
  left: 10;
  width: 250px;
  background: var(--white);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.5s ease-in;
  z-index: 9997;
}

.dropdown-inner 
{
  color: var(--bright);
  border: 1px solid var(--gb);
  padding: 2px;
}

.nav_list_menu:hover ion-icon
{
  transition: all 0.5s ease-in;
  transform: rotate(180deg);
}

.nav_list_menu:hover .dropdown 
{
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}

.item-list 
{
  border-bottom: 1px solid var(--gb);
  cursor: pointer;
}
.item-list:hover 
{
  background-color: var(--dark); 
}

.item-list:hover .item-list-info > a
{
  color: var(--white);
  
}
.item-list-info
{
  padding: 15px 5px;
  margin: 2px;
}
.item-list-info > a {
  background-color: var(--white);
  color: var(--bright);
  width: 100%;
  
}

@media (max-width:1024px) {
  .logo-img {
      width: 300px;
      margin: 0 auto;
  }
  .nav_toggle {
      display: block;
  }
  .nav_menu {
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      background: var(--bright);
      display: none;
      z-index: 9996;
  }
  .nav_menu.active {
      display: block;
  }
  .nav_list {
      display: block;
      margin: 2rem 0;
      text-align: center;
  }
  .nav_link {
      padding: 0 1rem;
      
  }
  .dropdown {
      
      
      top: 5px;
      left: 0px;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      width: 100%;
      height: 0;
      text-align: start;
      transition: all 0.5s ease-in;
      z-index: 9998;
  }
  .nav_list_menu:hover .dropdown {
      height: 100%;
      
  }
}
/************************************************************************************************************/


/* MAIN SECTION STYLING */

                                              /* SLIDER STYLING */

                                              .slider-container 
                                              {
                                                margin-bottom: 0;
                                                margin-top: 3px;
                                                position: relative;
                                                width: 100%;
                                                height: 100vh;
                                                overflow: hidden;
                                              }
                                              
                                              .slider-item 
                                              {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                height: 100%;
                                                opacity: 0;
                                                transition: opacity 0.5s ease-in-out;
                                              }
                                              
                                              
                                              .slider-item.active 
                                              {
                                                opacity: 1;
                                              }
                                              
                                              
                                              .slider-item img 
                                              {
                                                width: 100%;
                                                height: 100%;
                                              }
                                              
                                              .slider-item-text 
                                              {
                                                position: absolute;
                                                bottom: 20%;
                                                left: 20%;
                                                right: 20%;
                                                opacity: 0;
                                                transition: opacity 0.5s ease-in-out;
                                              }
                                              
                                              
                                              .slider-item.active .slider-item-text 
                                              {
                                                opacity: 1;
                                              }
                                              
                                              
                                              .slider-item-text h2, 
                                              .slider-item-text p 
                                              {
                                                margin: 0;
                                                padding: 0;
                                                color: var(--white);
                                                font-size: 3rem;
                                                line-height: 1.2;
                                              }
                                              
                                              
                                              .slider-item-text p 
                                              {
                                                font-size: 1.5rem;
                                                margin-top: 1rem;
                                              }
                                              
                                              .slider-arrow 
                                              {
                                                position: absolute;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                width: 30px;
                                                height: 30px;
                                                background-color: rgba(0, 0, 0, 0.5);
                                                border-radius: 10%;
                                                cursor: pointer;
                                                z-index: 1;
                                                transition: background-color 0.2s ease-in-out;
                                              }
                                              
                                              .slider-arrow:hover 
                                              {
                                                background-color: var(--dark);
                                              }
                                              
                                              
                                              .slider-arrow-left 
                                              {
                                                left: 5px;
                                              }
                                              .slider-arrow-right 
                                              {
                                                right: 5px;
                                              }
                                              
                                              .slider-arrow:before 
                                              {
                                                content: "";
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                                width: 12px;
                                                height: 12px;
                                                border-top: 2px solid var(--white);
                                                border-right: 2px solid var(--white);
                                                transition: transform 0.2s ease-in-out;
                                              }
                                              
                                              /* Left slider arrow icon */
                                              .slider-arrow-left:before 
                                              {
                                                transform: translate(-30%, -45%) rotate(-135deg);
                                              }
                                              
                                              /* Right slider arrow icon */
                                              .slider-arrow-right:before 
                                              {
                                                transform: translate(-60%, -45%) rotate(45deg);
                                              }
                                              
                                              @media only screen and (max-width: 767px) {
                                                .slider-item-text {
                                                  bottom: 10%;
                                                  left: 5%;
                                                  right: 5%;
                                                }
                                              
                                                .slider-item-text h2 {
                                                  font-size: 2rem;
                                                }
                                              
                                                .slider-item-text p {
                                                  font-size: 1rem;
                                                  margin-top: 0.5rem;
                                                }
                                              
                                                .slider-arrow {
                                                  width: 20px;
                                                  height: 20px;
                                                }
                                              
                                                .slider-arrow:before {
                                                  width: 8px;
                                                  height: 8px;
                                                }

                                                .slider-item img {
                                                  width: 100%;
                                                  height: 100%;
                                                  object-fit: cover;
                                                }
                                                
                                              }
                                              

                              /*****************************************/

.content
{
  margin-top: 100px;
}

                                            /* FEATURED PRODUCTS STYLING */
                                            

                                            
                                            
                                            



/************************************************************************************************************/













