@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* DESIGN COLORS USED */
:root
{
  --white: #fff;
  --bright:  rgb(44, 116, 179);
  --dark: rgb(20, 66, 114);
  --gb: #ccc;
}
/************************************************************************************************************/


/* SCROLL BAR STYLING */
::-webkit-scrollbar 
{
  width: 5px;
}
::-webkit-scrollbar-track /* the track which hold the draggable part of the scrollbar */
{
  background: var(--white);
}
::-webkit-scrollbar-thumb  /* the thumb is the draggable part of the scroll bar */
{
  background-color: var(--bright);
  border-radius: 10px;
}
/************************************************************************************************************/


/* GENERAL STYLING OF THE BODY */
body
{
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
* /* targetting all the elements */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* width including the padding of elements */
  text-decoration: none;
    list-style-type: none;
}
/************************************************************************************************************/


/* HEADER SECTION STYLING */
header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo > img 
{
  max-height: 150px;
  max-width: 200px;
}
.header-center 
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail
{
  text-decoration: none;
  color: var(--bright);
}
.mail:hover
{
  opacity: 0.7;
}
.mail:active
{
  opacity: 0.6;
}
.phone
{
  text-decoration: none;
  color: var(--bright);
}
.phone:hover
{
  opacity: 0.8;
}
.phone:active
{
  opacity: 0.6;
}
.location
{
  text-decoration: none;
  color: var(--bright);
}
.location:hover
{
  opacity: 0.8;
}
.location:active
{
  opacity: 0.6;
}
.icon 
{
  color: var(--bright);
  display: flex;
  margin: 0 3px;
  font-size: 16px;
}
.icon > i 
{
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
  color: var(--bright);
}
.search-container 
{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.search-container form 
{
  display: flex;
  align-items: center;
}
.search-container input[type=text] 
{
  padding: 10px;
  border: 2px solid var(--bright);
  border-radius: 30px;
  background: var(--white);
  width: 250px;
  transition: width 0.4s ease-in-out;
}
.search-container input[type=text]:focus 
{
  width: 170px;
  outline: none;
}
.search-container button 
{
  background: var(--bright);
  color: var(--white);
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-left: -50px;
  transition: margin-left 0.4s ease-in-out;
  cursor: pointer;
}
.search-container button:hover 
{
  background: var(--dark);
}
.search-container input[type=text]:focus + button  /*applies styles to the button element when search bar focused*/
{
  margin-left: 0px;
}
/************************************************************************************************************/


/* NAVIGATION SECTION STYLING */

.container {
  max-width:  100%;
  margin: 0;
  padding: 0;
}

.navigation {

 display: flex;
 
  height: 60px;
  position: relative;
  background: var(--bright);
}

.nav_list {
  display: inline-flex;
  justify-content: space-between;
  
}

.nav_list:hover
{
  background-color: var(--dark);
}

.nav_link
{
  display: flex;
  justify-content: space-between;
  padding: 21px 21px;
  margin-right: 1.5px;
  gap: 3px   ;
  color: var(--white);
  font-weight: bold;
}

.nav_toggle 
{
  cursor: pointer;
  display: none;
}

.nav_toggle ion-icon 
{
  padding: 5px;
  font-size: 3.5rem;
  color: var(--white);
}

.dropdown 
{
  position: absolute;
  top: 55px;
  left: 10;
  width: 250px;
  background: var(--white);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.5s ease-in;
  z-index: 9997;
}

.dropdown-inner 
{
  color: var(--bright);
  border: 1px solid var(--gb);
  padding: 2px;
}

.nav_list_menu:hover ion-icon
{
  transition: all 0.5s ease-in;
  transform: rotate(180deg);
}

.nav_list_menu:hover .dropdown 
{
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}

.item-list 
{
  border-bottom: 1px solid var(--gb);
  cursor: pointer;
}
.item-list:hover 
{
  background-color: var(--dark); 
}

.item-list:hover .item-list-info > a
{
  color: var(--white);
  
}
.item-list-info
{
  padding: 15px 5px;
  margin: 2px;
}
.item-list-info > a {
  background-color: var(--white);
  color: var(--bright);
  width: 100%;
  
}

@media (max-width:1024px) {
  .logo-img {
      width: 300px;
      margin: 0 auto;
  }
  .nav_toggle {
      display: block;
  }
  .nav_menu {
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      background: var(--bright);
      display: none;
      z-index: 9996;
  }
  .nav_menu.active {
      display: block;
  }
  .nav_list {
      display: block;
      margin: 2rem 0;
      text-align: center;
  }
  .nav_link {
      padding: 0 1rem;
      
  }
  .dropdown {
      
      
      top: 5px;
      left: 0px;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      width: 100%;
      height: 0;
      text-align: start;
      transition: all 0.5s ease-in;
      z-index: 9998;
  }
  .nav_list_menu:hover .dropdown {
      height: 100%;
      
  }
}
/************************************************************************************************************/


/* MAIN SECTION STYLING */

                                              /* SLIDER STYLING */

.slider-container 
{
  margin-bottom: 0;
  margin-top: 3px;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider-item 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.slider-item.active 
{
  opacity: 1;
}


.slider-item img 
{
  width: 100%;
  height: 100%;
}

.slider-item-text 
{
  position: absolute;
  bottom: 20%;
  left: 20%;
  right: 20%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.slider-item.active .slider-item-text 
{
  opacity: 1;
}


.slider-item-text h2, 
.slider-item-text p 
{
  margin: 0;
  padding: 0;
  color: var(--white);
  font-size: 3rem;
  line-height: 1.2;
}


.slider-item-text p 
{
  font-size: 1.5rem;
  margin-top: 1rem;
}

.slider-arrow 
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.2s ease-in-out;
}

.slider-arrow:hover 
{
  background-color: var(--dark);
}


.slider-arrow-left 
{
  left: 5px;
}
.slider-arrow-right 
{
  right: 5px;
}

.slider-arrow:before 
{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transition: transform 0.2s ease-in-out;
}

/* Left slider arrow icon */
.slider-arrow-left:before 
{
  transform: translate(-30%, -45%) rotate(-135deg);
}

/* Right slider arrow icon */
.slider-arrow-right:before 
{
  transform: translate(-60%, -45%) rotate(45deg);
}

                              /*****************************************/

.content
{
  margin-top: 100px;
}

                                            /* FEATURED PRODUCTS STYLING */
                                            

                                            
                                            
                                            



/************************************************************************************************************/













