@media (max-width: 993px) {
    #title
    {
        text-align: center;
    }
    .title-img {
        width: 45% !important;
        transform: rotate(0)!important; 
        position: static;
    }
}
